#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.green-label {
  color: green;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 10px;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.Company {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: 10px;
  border: 1px solid red;
}
.Company label {
  color: blue;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.company-textarea {
  padding: 5px;
  min-width: 90%;
  max-width: 97vw;
  min-height: 160px;
  max-height: 80vh;
  font-size: 15px;
  white-space: pre-wrap;
  font-family: inherit;
}

.Prospect {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: 10px;
  border: 1px solid red;
}
.Prospect label {
  color: blue;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.prospect-textarea {
  padding: 5px;
  min-width: 90%;
  max-width: 97vw;
  min-height: 340px;
  max-height: 340px;
  font-size: 15px;
  white-space: pre-wrap;
  font-family: inherit;
}

.GenerateEmail {
  grid-column: 2 / 3;
  /* Second column */
  grid-row: 1 / 2;
  /* First row */
}

.GenerateEmail form {
  text-align: start;
  padding-left: 20px;
}

.GenerateEmail .instruction {
  color: red;
  margin-bottom: 5px;
}

.GenerateEmail input {
  width: 30%;
  height: 20px;
  padding-left: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: black;
  font-size: 15px;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OutputEmail {

  grid-column: 2 / 3;
  /* Second column */
  grid-row: 2 / 3;
  /* Second row */
}

.OutputEmail h2 {
  margin: 0;
  margin-bottom: 10px;
}

.email-container {
  min-width: 550px;
  min-height: 330px;
  max-height: 330px;
  height: 330px;
  text-align: left;
  overflow: auto;
  border: 1px solid lightblue;
}

.email-content {
  padding-right: 10px;
  padding-bottom: 50px;
  padding-left: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 25px;
}